.gitattributes text eol=lf export-ignore
.gitignore text eol=lf export-ignore
.travis.yml text eol=lf export-ignore
* text=auto
*.php text eol=lf
*.phpt text eol=lf
*.xml text eol=lf
*.dist text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.json text eol=lf
