<?xml version="1.0" encoding="utf-8" ?>
<phpdox xmlns="http://xml.phpdox.net/config">
  <project name="sgc-fireball/libphp" source="src" workdir="build/phpdox">
    <collector publiconly="false" backend="parser">
        <include mask="*.php" />
    </collector>
    <generator output="build">
      <build engine="html" enabled="true" output="html">
        <file extension="html" />
      </build>
    </generator>
  </project>
</phpdox>